body{
    background-color: rgb(159, 10, 228);

}
h1{
    color: blue;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
}
h3{
    color: darkblue;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
header{
    background-color: gold;
    padding: 10px;
    text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.login-form button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background: #0056d2;
}

#message {
  margin-top: 10px;
  text-align: center;
  color: red;
}
footer{
    background-color: rgb(255, 17, 0);
    padding: 0px;
    margin-top: 50%;
    border-top: 3px solid rgb(10, 10, 10);
    color: yellow;
    width: 100vw;
    
}